body {
	margin: 0;
	font-family: "Open Sans", sans-serif;
}
#viz {
	max-width: 630px;
	margin: auto;
	display: table;
}
.book-title {
	font-weight: bold;
}
.book-title tspan {
	font-weight: normal;
	font-size: .8em;
	fill: #888;
}
.media-rect.selected {
	stroke: black;
	stroke-width: 2px;
	shape-rendering: crispEdges;
}
.baseline {
	stroke: #ccc;
	shape-rendering: crispEdges;
}

.controls-wrapper {
	margin-bottom: 20px;
	text-align: center;
}
.controls-col {
	display: inline-block;
	text-align: center;
	margin-right: 10px;
}
.controls-wrapper .heading {
	margin-bottom: 5px;
	border-bottom: 1px solid black;
}
.search-field {
	border-radius: 5px;
	padding: 6px;
	font-family: "Open Sans", sans-serif;
  -webkit-appearance: none;
  border-style: none;
  border: 1px solid #ccc;

}
.toggle-item {
	display: inline-block;
	padding: 4px;
  color: #888;
  border: 1px solid #eee;
  box-shadow: 0 1px 2px rgba(0,0,0,.08);
  cursor: pointer;
  background: #fff;
  font-size: .8em;
}
.toggle-item:hover {
  border-color: #ccc;
  border-bottom-color: #bbb;
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
  color: #666;
}
.toggle-item.active {
  color: #3a403d;
  background: #f0f0f0;
  border-color: #ccc;
  border-top-color: #bbb;
  box-shadow: none;
  cursor: default;
}
.toggle-item:first-of-type {
	border-radius: 5px 0 0 5px;
}
.toggle-item:last-of-type {
	border-radius: 0 5px 5px 0;
}

/*TIP*/
.tip {
	text-align: center;
	top: 0px;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #ccc;
  position: absolute;
  max-width: 220px;
  padding: 5px 10px;
  opacity: 0;
}
.tip .title {
  font-size: .8em;
  font-weight: bold;
  margin-bottom: 5px;
}
.tip .datum {
	font-size: .7em;
}

/*VIZ TITLES*/
.viz-title-wrapper {
	width: 100%;
}
.viz-title-wrapper .headline {
	text-align: center;
	font-weight: bold;
	font-size: 2em;
	margin-bottom: 40px;
}

/*LEGEND*/
#legend {
	width: 100%;
	margin-bottom: 40px;
}
#legend .title {
	text-align: center;
	border-bottom: 1px solid black;
	margin-bottom: 5px;
}
#legend img {
	width: 100%;
}

/*UTILITIES*/
.help {
	font-size: .8em;
	color: #888;
}
.right {
	text-align: right;
}
.center {
	text-align: center;
}